
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.App {
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #525E75;
  font-size: calc(5px + 2vmin);
  background-color: #F1DDBF;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
  
}

h2{
  
}

button {
  flex-grow: inherit;
  border: 2px solid #78938A;
  border-radius: 5px;
  background-color: #92BA92;
  color: white;
  padding: 5px 10px 5px 10px;
}
